<h1>Shops</h1>

<% if @shops.nil? %>

<p>Aucune boutique disponible: Pour créer une nouvelle boutique taper dans le terminal: 
    rails db:seed
</p>

<% else %>
    <% @shops.each do |shop| %>
        <p>Nom de la boutique : <%= shop.name %></p> 
        <strong>Horaires <%= opening_hour(shop).get_day_of_week  %>
        <% if isClosed?(opening_hour(shop)) %>
        Fermé
        <% else %>
        <%= start_at(opening_hour(shop)) %>  -  <%= end_at(opening_hour(shop)) %>, 
        <%= second_start_at(opening_hour(shop)) %>  -  <%= second_end_at(opening_hour(shop)) %>
        <% end %>
        </strong><br>
        <% shop.opening_hours.drop(1).each do |op|  %>
            <%= op.get_day_of_week  %>
            <% if isClosed?(op) %>

            Fermé
            <% else %>
            <%= start_at(op) %>  -  <%= end_at(op) %>, 
        <%= second_start_at(op) %>  -  <%= second_end_at(op) %>
        <% end %>
        <br>
        <% end %>
    <% end %>
<% end %>